.menu-top {
	list-style:none;
	/*padding:0px 20px 0px 20px;*/
	padding:0px;
	z-index:2000;
	float:right;
	height:20px;
	margin:0px;
}
.menu-top .links {
	float:left;
}
.menu-top .links a {
	float:left;
	font-family: "Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0px;
	font-size:12px;
	font-weight:normal;
	color:#8f8f8f;
	text-decoration:none;
	margin-top:0px;
	padding:7px 10px 8px 10px;
}
.menu-top .links a:hover {
	float:left;
	font-family: "Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0px;
	font-size:12px;
	font-weight:normal;
	color:#f9f9f9;
	text-decoration:none;
	margin-top:0px;
	background-color:#3c3c3c;
	padding:7px 10px 8px 10px;
}
.menu-top li {
	position:relative;
	float:left;
	border:none;
	top:0px;
	height:22px;
	z-index:2001;
	font-family: "Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	margin:0px;
	font-size:12px;
	font-weight:normal;
	padding:4px 0px 5px 0px;
}
.menu-top li:hover {
	float:left;
	background:#3c3c3c;
	border-bottom:none;
	font-family: "Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	z-index:2002;
	font-weight:normal;
	margin:0px;
	padding:4px 0px 5px 0px;
}
.menu-top li a {
	color:#8f8f8f;
	outline:0;
	text-decoration:none;
	z-index:2003;
	font-family: "Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	margin:0px;
}
.menu-top li:hover a {
	color:#f9f9f9;
	text-shadow: none;
	z-index:2004;
	font-family: "Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	margin:0px;
}
.menu-top li .drop {
	padding-right:24px;
	margin-right:5px;
	background:url("../img/drop.png") no-repeat right 5px;
	z-index:2005;
}
.menu-top li:hover .drop {
	padding-right:24px;
	margin-right:5px;
	background:url("../img/drop.png") no-repeat right 5px;
	z-index:2006;
}
.menu-top li:hover div a {
	color:#f9f9f9;
}
.menu-top li:hover div a:hover {
	color:#f9f9f9;
}
.menu-top li ul li a:hover {
	color:#f4f4f4;
}
/* Right aligned menu-top item */

.menu-top .right {
	float:right;
	margin-right:0;
}
/*  _______________________________________

	02 DROP DOWN MENU
    _______________________________________  */



/* Left & right aligned common styles */

.menu-top .dropdown_1column, .menu-top .dropdown_2columns, .menu-top .dropdown_3columns, .menu-top .dropdown_4columns, .menu-top .dropdown_5columns, .menu-top #dropdown_fullwidth_first, .menu-top #dropdown_fullwidth_item2, .menu-top #dropdown_fullwidth_item3, .menu-top #dropdown_fullwidth_item4, .menu-top #dropdown_fullwidth_item5, .menu-top #dropdown_fullwidth_item6, .menu-top #dropdown_fullwidth_item_right {
	margin:4px auto;
	left:-999em;
	position:absolute;
	background:#3c3c3c;
	border:1px solid #1e1e1e;
	padding:0px;
	text-align:left;
	color:#f9f9f9;
	margin:0px;
	/* CSS 3 Stylings */

	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	-khtml-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
	background: -moz-linear-gradient(top, #3c3c3c, #3c3c3c);
	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#3c3c3c), to(#3c3c3c));
	z-index:30000;
}
/* Drop Downs Sizes */

.menu-top .dropdown_1column {
	width: 125px;
}
.menu-top .dropdown_2columns {
	width: 115px;
}
.menu-top .dropdown_3columns {
	width: 455px;
}
.menu-top .dropdown_4columns {
	width: 610px;
}
.menu-top .dropdown_5columns {
	width: 765px;
}
.menu-top #dropdown_fullwidth_first, .menu-top #dropdown_fullwidth_item2, .menu-top #dropdown_fullwidth_item3, .menu-top #dropdown_fullwidth_item4, .menu-top #dropdown_fullwidth_item5, .menu-top #dropdown_fullwidth_item6, .menu-top #dropdown_fullwidth_item_right {
	width: 920px;
	/* Rounded corners */
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	z-index:2900;
}
/* Showing Drop Down on Mouse Hover - Left aligned */

.menu-top li:hover .dropdown_1column, .menu-top li:hover .dropdown_2columns, .menu-top li:hover .dropdown_3columns, .menu-top li:hover .dropdown_4columns, .menu-top li:hover .dropdown_5columns {
	left:-1px;
	top:28px;
}
.menu-top li:hover #dropdown_fullwidth_first {
	left:-1px;
	top:28px;
	/* Removing Top left rounded corner, use it for the left menu-top item */
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	-khtml-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;
}
.menu-top li:hover #dropdown_fullwidth_item2 {
	left:-111px;
	top:28px;
}
.menu-top li:hover #dropdown_fullwidth_item3 {
	left:-221px;
	top:28px;
}
.menu-top li:hover #dropdown_fullwidth_item4 {
	left:-740px;
	top:28px;
}
.menu-top li:hover #dropdown_fullwidth_item5 {
	left:-820px;
	top:28px;
}
.menu-top li:hover #dropdown_fullwidth_item6 {
	left:-551px;
	top:28px;
}
.menu-top li:hover #dropdown_fullwidth_item_right {
	right:-1px;
	top:28px;
	left:auto;
	/* Removing Top right rounded corner, use it fr the right aligned and last item */
	-moz-border-radius: 5px 0px 5px 5px;
	-webkit-border-radius: 5px 0px 5px 5px;
	-khtml-border-radius: 5px 0px 5px 5px;
	border-radius: 5px 0px 5px 5px;
}
/* Columns Sizes */

.menu-top .col_1, .menu-top .col_2, .menu-top .col_3, .menu-top .col_4, .menu-top .col_5, .menu-top .col_6 {
	display:inline;
	float: left;
	position: relative;
	margin: 0px;
}
.menu-top .col_1 {
	width:145px;
}
.menu-top .col_2 {
	width:300px;
}
.menu-top .col_3 {
	width:455px;
}
.menu-top .col_4 {
	width:610px;
}
.menu-top .col_5 {
	width:765px;
}
.menu-top .col_6 {
	width:920px;
}
/* IMPORTANT */

/* Use the firstcolumn class for the items that stick to the left edge of the dropdown */
.menu-top .firstcolumn {
	/* Clearing margin & left */
	clear: left;
	margin:0px;
}
/*  _______________________________________

	03 CONTENT STYLINGS
    _______________________________________  */



.menu-top p, .menu-top ul, .menu-top li, .menu-top h2, .menu-top h3 {
	font-size:14px;
	font-family:"Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	line-height:21px;
	text-align:left;
	margin:0px;
	padding:0px;
}
.menu-top p {
	font-size:12px;
	line-height:18px;
	margin-bottom:10px;
	text-shadow: 1px 1px 1px #FFFFFF;
	margin:0px;
}
.menu-top .strong {
	font-weight:bold;
}
.menu-top .italic {
	font-style:italic;
}
.menu-top h2 {
	font-family:"Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:400;
	letter-spacing:-1px;
	font-size:21px;
	line-height:21px;
	margin-top:7px;
	margin-bottom:14px;
	padding-bottom:14px;
	text-shadow: 1px 1px 1px #FFFFFF;
	border-bottom:1px solid #666666;
}
.menu-top h3 {
	font-family:"Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-weight:600;
	font-size:14px;
	line-height:21px;
	margin-top:7px;
	margin-bottom:14px;
	padding-bottom:7px;
	text-shadow: 1px 1px 1px #FFFFFF;
	border-bottom:1px solid #888888;
}
.menu-top .pusher { /* Use this pucher if you want to give more vertical spacing between your rows of content */
	margin-top:18px;
}
/* Icon paragraphs */

.menu-top .help, .menu-top .favorite, .menu-top .mail, .menu-top .print {
	padding-left:36px;
	margin-bottom:18px;
}
/* Images styles */

.menu-top .imgshadow_dark { /* Better style on dark background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #333333;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #000000;
	-webkit-box-shadow:0px 0px 5px #000000;
	box-shadow:0px 0px 5px #000000;
}
.menu-top .imgshadow_light { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.menu-top .img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:2px 15px 5px 0px;
}
.menu-top .img_right { /* Image sticks to the right */
	width:auto;
	float:right;
	margin:2px 0px 5px 15px;
}
/* Box styles */

.menu-top li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;
	/* CSS 3 Stylings */
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}
.menu-top li .dark_grey_box {
	background-color:#555555;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;
	/* CSS 3 Stylings */
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:inset 0 0 3px #111111;
	-moz-box-shadow:inset 0 0 3px #111111;
	box-shadow:inset 0 0 3px #111111;
}
/* Standard lists styles */

.menu-top li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
.menu-top li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	padding:0;
	margin:0;
	float:left;
	text-align:left;
	width:145px;
}
.menu-top li ul li:hover {
	background:none;
	background: #F4F4F4\9;
	border:none;
	padding:0;
	margin:0;
}
/* Greybox lists styles */
.menu-top li .greybox h4 {
	float:left;
	font-family:"Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: bold;
	text-decoration:none;
	color:#df5e33;
	margin:10px 0px 0px 22px;
	padding:0px;
}
.menu-top li .greybox li {
	margin:0px 0px 4px 20px;
	padding:6px 6px 8px 6px;
	width:121px;
	float:left;
	border-bottom:1px dotted #737373;
}
.menu-top li .greybox li:hover {
	background:#0f0f0f;
	float:left;
	padding:6px 6px 8px 6px;
	margin:0px 0px 4px 20px;
	border-bottom:1px dotted #737373;
}
.menu-top li .plus li {
	margin:0px 0px 4px 0px;
	padding:0px 0px 0px 21px;
	width:109px;
}
.menu-top li .plus li:hover {
	background: url("../img/plus.png") left 6px no-repeat;
	padding:0px 0px 0px 21px;
	margin:0px 0px 4px 0px;
}
/* Social Icons */

.menu-top li ul.social {
	list-style:none;
	margin:0;
	padding:0;
}
.menu-top li ul.social li {
	padding-top:5px;
	margin:0 12px 12px 0;
	float:left;
	position:relative;
	display:inline;
	width:32px;
}
.menu-top li ul.social li:hover {
	padding-top:5px;
	margin:-1px 12px 12px 0;
}
.menu-top li ul.social li span {
	display:none;
}
/*  _______________________________________

	04 CONTACT FORM
    _______________________________________  */



.menu-top form {
	margin:0 0 12px 0;
	padding:0px;
}
/* Labels & fieldsets stylings */

.menu-top fieldset {
	margin:0;
	border:none;
}
.menu-top form p {
	margin:10px 0;
	overflow:hidden;
	width:270px;
}
.menu-top label {
	float:left;
	display:block;
	text-align:left;
	width:50px;
}
.menu-top input, .menu-top textarea {
	margin:0;
	width:170px;
	float:right;
	color:#eeeeee;
	background-color:#333333;
	border:1px solid #222222;
	padding:3px 5px 3px 5px;
	/* CSS 3 Stylings */
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.menu-top textarea {
	height:100px;
	overflow:auto;
}
/* Buttons stylings */

.menu-top button {
	float:right;
	width:80px;
	margin:0px;
	margin-right:30px;
	border:none;
	padding: 2px 7px 2px 7px;
	color:#eeeeee;
	background-color:#333333;
	text-shadow: 1px 1px 1px #000;
	/* CSS 3 Stylings */
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
/* Messages when sending email */

.error, .sent {
	font-size:12px;
	line-height:18px;
	padding:5px;
	margin-bottom:10px;
	/* CSS 3 Stylings */
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.error {
	background:#f3afa6;
	border:#ef9588 solid 1px;
	color:#992213;
}
.sent {
	background:#bef08f;
	border:#adec71 solid 1px;
	color:#37620d;
}
.help-links {
	font-family: "Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#f9f9f9;
	float:left;
	text-align:left;
	background-image: url(../images/help-icon.png);
	background-repeat: no-repeat;
	width:90px;
	padding:3px 0px 3px 26px;
	margin-bottom:5px;
}
.help-links:hover {
	font-family: "Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	background-color:#0f0f0f;
	background-image: url(../images/help-icon.png);
	background-repeat: no-repeat;
	background-position:0px -30px;
	padding:3px 0px 3px 26px;
	margin-bottom:5px;
	color:#444444;
	width:90px;
	float:left;
}
.help-links-community {
	font-family: "Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#f9f9f9;
	float:left;
	text-align:left;
	background-image: url(../images/community.png);
	background-repeat: no-repeat;
	width:90px;
	padding:3px 0px 3px 26px;
	margin-bottom:5px;
}
.help-links-community:hover {
	font-family: "Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	background-color:#0f0f0f;
	background-image: url(../images/community.png);
	background-repeat: no-repeat;
	background-position:0px -30px;
	color:#444444;
	width:90px;
	padding:3px 0px 3px 26px;
	margin-bottom:5px;
}
.help-links-faqs {
	font-family: "Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#f9f9f9;
	float:left;
	text-align:left;
	background-image: url(../images/faqs.png);
	background-repeat: no-repeat;
	width:90px;
	padding:3px 0px 3px 26px;
	margin-bottom:5px;
}
.help-links-faqs:hover {
	font-family: "Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	background-color:#0f0f0f;
	background-image: url(../images/faqs.png);
	background-repeat: no-repeat;
	background-position:0px -30px;
	color:#444444;
	width:90px;
	padding:3px 0px 3px 26px;
	margin-bottom:5px;
}
.help-links-contact {
	font-family: "Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#f9f9f9;
	float:left;
	text-align:left;
	background-image: url(../images/contact.png);
	background-repeat: no-repeat;
	width:90px;
	padding:3px 0px 3px 26px;
	margin-bottom:5px;
}
.help-links-contact:hover {
	font-family: "Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	background-color:#0f0f0f;
	background-image: url(../images/contact.png);
	background-repeat: no-repeat;
	background-position:0px -30px;
	color:#444444;
	width:90px;
	padding:3px 0px 3px 26px;
	margin-bottom:5px;
}
.help-links-talk-online {
	font-family: "Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	color:#f9f9f9;
	float:left;
	text-align:left;
	background-image: url(../images/talk-online.png);
	background-repeat: no-repeat;
	width:90px;
	padding:3px 0px 3px 26px;
	margin-bottom:5px;
}
.help-links-talk-online:hover {
	font-family: "Segoe UI", "Trebuchet MS", Arial, Helvetica, sans-serif;
	font-size:12px;
	font-weight:normal;
	background-color:#0f0f0f;
	background-image: url(../images/talk-online.png);
	background-repeat: no-repeat;
	background-position:0px -30px;
	color:#444444;
	width:90px;
	padding:3px 0px 3px 26px;
	margin-bottom:5px;
}



/* Vertical Css Start */

.menu-colum {
	list-style:none;
	/*background:#f9f9f9;
	width:210px;*/
	width:170px;
	padding:0px;
	margin:0px;
	float:left;
	background:url(../images/menu-bg.jpg) repeat-y;
}
.menu-colum li {
	text-align:center;
	/*position:relative;*/
	border:none;
	margin:0 0 0 10px;
	border-bottom:1px dotted #cdcdcd;
}
.menu-colum li:hover {
	z-index:2;
	border-right:none;
	background:url(../images/drp-right-arow-icon.png) no-repeat center right;
	
}
.menu-colum li a {
	outline:0;
	text-decoration:none;
	display:block;
	font:normal 12px Arial, Helvetica, sans-serif;
	color:#333;
	width:180px;
	padding:0px;
	line-height:28px;
	
}
.menu-colum li:hover a {
	/*color:#161616;*/
	color:#faa61a;
	text-shadow: none;
}
.menu-colum li:hover div a {
	color:#444;
}
.menu-colum li:hover div a:hover {
	color:#777;
}
.menu-colum li ul li a:hover {
	/*color:#777;*/
	color:#faa61a;
}
/*  _______________________________________

	02 DROP DOWN MENU
    _______________________________________  */



/* Left & right aligned common styles */

.menu-colum .dropdown_1column1, .menu-colum .dropdown_2columns1, .menu-colum .dropdown_3columns1, .menu-colum .dropdown_4columns1, .menu-colum .dropdown_5columns1 {
	margin:0px auto;
	left:-999em;
	z-index:-1;
	position:absolute;
	background:#f9f9f9;
	border-top:3px solid #2e3741;
	padding:5px 10px;
	text-align:left;
	/* CSS 3 Stylings */
	/*border:1px solid #cccccc;
	-moz-border-radius: 0px 5px 5px 5px;
	-webkit-border-radius: 0px 5px 5px 5px;
	-khtml-border-radius: 0px 5px 5px 5px;
	border-radius: 0px 5px 5px 5px;*/
	background: -moz-linear-gradient(left, #fffefa, #f9f9f9);
	background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#f9f9f9), to(#fffefa));
}
/* Drop Downs Sizes */

.menu-colum .dropdown_1column1 {
	width: 145px;
}
.menu-colum .dropdown_2columns1 {
	/*width: 300px;*/
	width:400px;
	/*margin:-18px 0 0 -34px;
	padding:0px;*/
/*	position:fixed;
	margin:99px 0 0 0; */
	position:absolute;
	top:99px;
}
.menu-colum .dropdown_3columns1 {
	width: 455px;
}
.menu-colum .dropdown_4columns1 {
	width: 610px;
}
.menu-colum .dropdown_5columns1 {
	width: 765px;
}
/* Showing Drop Down on Mouse Hover - Left aligned */

.menu-colum li:hover .dropdown_1column1, .menu-colum li:hover .dropdown_2columns1, .menu-colum li:hover .dropdown_3columns1, .menu-colum li:hover .dropdown_4columns1, .menu-colum li:hover .dropdown_5columns1 {
	left:230px;
	top:0px !important; 
	position:absolute !important;	
}
/* Columns Sizes */

.menu-colum .col_11, .menu-colum .col_21, .menu-colum .col_31, .menu-colum .col_41, .menu-colum .col_51, .menu-colum .col_61 {
	display:inline;
	float: left;
	position: relative;
	margin-left: 10px;
}
.menu-colum .col_11 {
	width:145px;
}
.menu-colum .col_21 {
	/*width:300px;*/
	width:100%;
}
.menu-colum .col_31 {
	width:455px;
}
.menu-colum .col_41 {
	width:610px;
}
.menu-colum .col_51 {
	width:765px;
}
.menu-colum .col_61 {
	width:920px;
}
/* IMPORTANT */

/* Use the firstcolumn class for the items that stick to the left edge of the dropdown */
.menu-colum .firstcolumn1 {
	margin-left: 0px; /* Clearing margin & left */
	clear: left;
}
/*  _______________________________________

	03 CONTENT STYLINGS
    _______________________________________  */



.menu-colum p, .menu-colum ul, .menu-colum li, .menu-colum h2, .menu-colum h3 {
	font-size:14px;
	font-family:Arial, Helvetica, sans-serif;
	line-height:21px;
	text-align:left;
}
.menu-colum p {
	font-size:12px;
	line-height:18px;
	margin:0 20px 10px 20px;
	text-shadow: 1px 1px 1px #FFFFFF;
}
.menu-colum .strong {
	font-weight:bold;
}
.menu-colum .italic {
	font-style:italic;
}
.menu-colum h2 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:400;
	letter-spacing:-1px;
	font-size:21px;
	line-height:21px;
	margin:12px 20px 14px 20px;
	/*margin-top:7px;
	margin-bottom:14px;
	margin-left:10px;*/
	padding-bottom:14px;
	text-shadow: 1px 1px 1px #FFFFFF;
	border-bottom:1px solid #666666;
}
.menu-colum h3 {
	font-family:Arial, Helvetica, sans-serif;
	font-weight:600;
	font-size:14px;
	line-height:21px;
	margin-top:7px;
	margin-bottom:14px;
	padding-bottom:7px;
	text-shadow: 1px 1px 1px #FFFFFF;
	border-bottom:1px solid #888888;
}
.menu-colum .pusher { /* Use this pucher if you want to give more vertical spacing between your rows of content */
	margin-top:18px;
}
/* Icon paragraphs */

.menu-colum .help, .menu-colum .favorite, .menu-colum .mail, .menu-colum .print {
	padding-left:36px;
	margin-bottom:18px;
}
.menu-colum .help {
	background:url("img/help.png") no-repeat 0px 2px;
}
.menu-colum .favorite {
	background:url("img/favorite.png") no-repeat 0px 2px;
}
.menu-colum .mail {
	background:url("img/mail.png") no-repeat 0px 2px;
}
.menu-colum .print {
	background:url("img/print.png") no-repeat 0px 2px;
}
/* Images styles */

.menu-colum .imgshadow_dark { /* Better style on dark background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #333333;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #000000;
	-webkit-box-shadow:0px 0px 5px #000000;
	box-shadow:0px 0px 5px #000000;
}
.menu-colum .imgshadow_light { /* Better style on light background */
	background:#FFFFFF;
	padding:4px;
	border:1px solid #777777;
	margin-top:5px;
	-moz-box-shadow:0px 0px 5px #666666;
	-webkit-box-shadow:0px 0px 5px #666666;
	box-shadow:0px 0px 5px #666666;
}
.menu-colum .img_left { /* Image sticks to the left */
	width:auto;
	float:left;
	margin:2px 15px 5px 0px;
}
.menu-colum .img_right { /* Image sticks to the right */
	width:auto;
	float:right;
	margin:2px 0px 5px 15px;
}
/* Box styles */

.menu-colum li .black_box {
	background-color:#333333;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;
	/* CSS 3 Stylings */
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:inset 0 0 3px #000000;
	-moz-box-shadow:inset 0 0 3px #000000;
	box-shadow:inset 0 0 3px #000000;
}
.menu-colum li .dark_grey_box {
	background-color:#555555;
	color: #eeeeee;
	text-shadow: 1px 1px 1px #000;
	padding:4px 6px 4px 6px;
	/* CSS 3 Stylings */
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow:inset 0 0 3px #111111;
	-moz-box-shadow:inset 0 0 3px #111111;
	box-shadow:inset 0 0 3px #111111;
}
/* Standard lists styles */

.menu-colum li ul {
	list-style:none;
	padding:0;
	margin:0 0 12px 0;
}
.menu-colum li ul li {
	font-size:12px;
	line-height:24px;
	position:relative;
	text-shadow: 1px 1px 1px #ffffff;
	padding:0;
	margin:0;
	float:left;
	text-align:left;
	width:145px;
}
.menu-colum li ul li:hover {
	background:none;
	background: #F4F4F4\9;
	border:none;
	padding:0;
	margin:0;
}
/* Greybox lists styles */

.menu-colum li .greybox li {
	background:#F4F4F4;
	border:1px solid #bbbbbb;
	margin:0px 0px 4px 0px;
	padding:4px 6px 4px 6px;
	width:131px;
	/* CSS 3 Stylings */
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.menu-colum li .greybox li:hover {
	background:#ffffff;
	border:1px solid #aaaaaa;
	padding:4px 6px 4px 6px;
	margin:0px 0px 4px 0px;
}
/* Other lists styles */

.menu-colum li .plus li {
	background: url("img/plus.png") left 6px no-repeat;
	margin:0px 0px 4px 0px;
	padding:0px 0px 0px 21px;
	width:109px;
}
.menu-colum li .plus li:hover {
	background: url("img/plus.png") left 6px no-repeat;
	padding:0px 0px 0px 21px;
	margin:0px 0px 4px 0px;
}
/* Social Icons */

.menu-colum li ul.social {
	list-style:none;
	margin:0;
	padding:0;
}
.menu-colum li ul.social li {
	padding-top:5px;
	margin:0 12px 12px 0;
	float:left;
	position:relative;
	display:inline;
	width:32px;
}
.menu-colum li ul.social li:hover {
	padding-top:5px;
	margin:-1px 12px 12px 0;
}
.menu-colum li ul.social li span {
	display:none;
}
/* 2-Levels Drop Down */

.menu-colum .levels {
	list-style:none;
	margin:0;
	padding:0;
	width:auto;
}
.menu-colum a.parent, .menu-colum a.parent:hover {
	background: url("img/drop2.png") right center no-repeat;
}
.menu-colum .levels li li, .menu-colum .levels li li:hover {
	width:150px;
	padding: 0px 12px 0px 12px;
	margin:0px 0px 0px 1px;
}
.menu-colum .levels ul { /* First level drop down */
	position:absolute;
	z-index:500;
	top:-23px;
	left:100%;
	display:none;
	width:180px;
	border:1px solid #aaaaaa;
	background:#F4F4F4;
	margin:15px 0px 0px 0px;
	padding:6px 0px 6px 0px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
	background: -moz-linear-gradient(left, #cccccc, #eeeeee);
	background: -webkit-gradient(linear, 100% 0%, 0% 0%, from(#eeeeee), to(#cccccc));
}
.menu-colum .levels ul ul {
	top:-6px;
	left:100%;
	width:180px;
	margin:-1px 0px 0px 0px;
}
.menu-colum .levels li:hover {
	cursor:pointer;
	z-index:100;
}
.menu-colum .levels li:hover ul ul, .menu-colum .levels li li:hover ul ul {
	display:none;
}
.menu-colum .levels li:hover ul, .menu-colum .levels li li:hover ul {
	display:block;
}
/*  _______________________________________

	04 CONTACT FORM
    _______________________________________  */



.menu-colum form {
	margin:0 0 12px 0;
	padding:0px;
}
/* Labels & fieldsets stylings */

.menu-colum fieldset {
	margin:0;
	border:none;
}
.menu-colum form p {
	margin:10px 0;
	overflow:hidden;
	width:270px;
}
.menu-colum label {
	float:left;
	display:block;
	text-align:left;
	width:50px;
}
.menu-colum input, .menu-colum textarea {
	margin:0;
	width:170px;
	float:right;
	color:#eeeeee;
	background-color:#333333;
	border:1px solid #222222;
	padding:3px 5px 3px 5px;
	/* CSS 3 Stylings */
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
.menu-colum textarea {
	height:100px;
	overflow:auto;
}
/* Buttons stylings */

.menu-colum button {
	float:right;
	width:80px;
	margin:0px;
	margin-right:30px;
	border:none;
	padding: 2px 7px 2px 7px;
	color:#eeeeee;
	background-color:#333333;
	text-shadow: 1px 1px 1px #000;
	/* CSS 3 Stylings */
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-khtml-border-radius: 5px;
	border-radius: 5px;
}
/* Messages when sending email */

.error, .sent {
	font-size:12px;
	line-height:18px;
	padding:5px;
	margin-bottom:10px;
	/* CSS 3 Stylings */
	
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
.error {
	background:#f3afa6;
	border:#ef9588 solid 1px;
	color:#992213;
}
.sent {
	background:#bef08f;
	border:#adec71 solid 1px;
	color:#37620d;
}
/* Vertical Css End */



.links-middle {
	width: 210px;
	float:left;
}
.links-middle ul {
	margin:0;
	padding:0px;
	width: 210px;
	float:left;
}
.links-middle ul h3 {
	margin:10px 0px 10px 10px;
	color:#1b1718;
	font-family:Arial, Helvetica, sans-serif;
	font-size:17px;
	font-weight:bold;
	text-decoration:none;
}
.links-middle ul li {
	float:left;
	list-style-type:none;
}
.links-middle ul li a img {
	float:left;
	padding-right:5px;
	margin-top:0px;
	padding-left:10px;
}
.links-middle ul li a {
	font-size: 12px;
	font-weight: normal;
	color: #353535;
	float:left;
	width:190px;
	text-decoration: none;
	margin-left:0px;
	font-family:Arial, Helvetica, sans-serif;
	background: url(images/menu-on.png) no-repeat !important;
	height: 15px;
	padding-top: 8px;
	padding-right: 5px;
	padding-bottom: 8px;
	padding-left: 15px;
}
.links-middle ul li a:hover {
	font-family:Arial, Helvetica, sans-serif;
	font-size: 12px;
	font-weight: normal;
	/*color: #f00;*/
	float:left;
	width:190px;
	text-decoration: none;
	padding:8px 5px 8px 15px;
	background-image: url(../images/menu-on.png) !important;
	background-repeat: no-repeat;
	background-position:0px -31px;
}